# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,yarn,react
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,yarn,react

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### yarn ###
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored

.yarn/*
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# if you are NOT using Zero-installs, then:
# comment the following lines
!.yarn/cache

# and uncomment the following lines
# .pnp.*

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,yarn,react# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Created by https://www.toptal.com/developers/gitignore/api/nextjs
# Edit at https://www.toptal.com/developers/gitignore?templates=nextjs

### NextJS ###
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
backlog-calculator/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# End of https://www.toptal.com/developers/gitignore/api/nextjs
backlog-calculator/.next/trace
backlog-calculator/.next/cache/webpack/client-development/0.pack
backlog-calculator/.next/cache/webpack/client-development/index.pack
backlog-calculator/.next/cache/webpack/server-development/0.pack
backlog-calculator/.next/cache/webpack/server-development/1.pack
backlog-calculator/.next/cache/webpack/server-development/index.pack
backlog-calculator/.next/cache/webpack/server-development/index.pack.old
backlog-calculator/.next/server/font-loader-manifest.js
backlog-calculator/.next/server/font-loader-manifest.json
backlog-calculator/.next/server/webpack-api-runtime.js
backlog-calculator/.next/server/pages/_document.js
backlog-calculator/.next/server/pages/index.js
backlog-calculator/.next/server/pages/api/hello.js
backlog-calculator/.next/static/chunks/webpack.js
backlog-calculator/.next/static/chunks/pages/_app.js
backlog-calculator/.next/static/chunks/pages/index.js
backlog-calculator/.next/trace
backlog-calculator/.next/cache/webpack/client-development/0.pack
backlog-calculator/.next/cache/webpack/client-development/index.pack
backlog-calculator/.next/cache/webpack/server-development/0.pack
backlog-calculator/.next/cache/webpack/server-development/1.pack
backlog-calculator/.next/cache/webpack/server-development/index.pack
backlog-calculator/.next/cache/webpack/server-development/index.pack.old
backlog-calculator/.next/server/font-loader-manifest.js
backlog-calculator/.next/server/font-loader-manifest.json
backlog-calculator/.next/server/webpack-api-runtime.js
backlog-calculator/.next/server/pages/_document.js
backlog-calculator/.next/server/pages/index.js
backlog-calculator/.next/server/pages/api/hello.js
backlog-calculator/.next/static/chunks/webpack.js
backlog-calculator/.next/static/chunks/pages/_app.js
backlog-calculator/.next/static/chunks/pages/index.js
